{% extends "admin/mybase.html" %}

{% block title %}
    Заказ #{{order.id}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/order_detail.css') }}">
{% endblock %}

{% block content %}
   <div class="container">
        
        <div class="order-detail">

            <div class="order__header">
                <h1>Заказ #{{ order.id }}</h1>
                
                <div class="order-meta detail-card">
                    <div class="order-date">
                        <strong>Дата создания:</strong>
                        <span class="order-date">{{ order.created_at.strftime('%d.%m.%Y %H:%M') }}</span>
                    </div>
                    <div class="order-status">
                        <strong>Статус заказа:</strong>
                        <span class="badge-status status-{{ order.status.value }}">
                        {{ order.status.value }}
                        </span>
                    </div>
                </div>
                
            </div>
            

            <div class="order-detail-grid">
                <div class="order-detail-grid__main">
            
                    <!-- 1 Reciept -->
                    <div class="detail-card">
                        <h2 class="detail-card__title">Состав заказа</h2>
                        
                        <div class="receipt-list">
                            {% for item in order.items %}
                                <div class="receipt-item">
                                    <div class="product-name">
                                        {{ item.product.name }}
                                    </div>
                                    <div style="text-align: right; min-width: 150px;">
                                        <div class="product__qty" style="font-size: 15px; color: #595959;">
                                            {{ item.quantity }} шт. × 
                                            
                                            {% if item.price_at_purchase != item.price_with_discount %}
                                                <!-- Есть скидка: зачеркиваем оригинал, показываем финальную -->
                                                <span class="product-item__old-price">{{ item.price_at_purchase // 100 }} ₽</span>
                                                <span class="product-item__new-price">{{ item.price_with_discount // 100 }} ₽</span>
                                            {% else %}
                                                <!-- Скидки нет: обычная цена -->
                                                <span class="product-item__price">{{ item.price_at_purchase // 100 }} ₽</span>
                                            {% endif %}
                                        </div>
                                        <!-- Итоговая стоимость строки (Всегда по цене со скидкой, чтобы сходился Итог) -->
                                        <div class="product__price">
                                            {{ (item.quantity * item.price_with_discount) // 100 }} ₽
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        
                        <!-- Receipt Footer -->
                        <div class="receipt-footer">
                            
                            {% set ns = namespace(items_raw_total=0) %}
                            {% for item in order.items %}
                                {% set ns.items_raw_total = ns.items_raw_total + (item.quantity * item.price_at_purchase) %}
                            {% endfor %}

                            <div class="receipt-footer__item">
                                <div>Стоимость товаров (без скидки):</div>
                                <div>
                                    {{ ns.items_raw_total // 100}} ₽
                                </div>
                            </div>
                            {% if order.discount_amount > 0 %}
                                <div class="receipt-discount receipt-footer__item">
                                    <div>Скидка на товары:</div>
                                    <div>-{{ order.discount_amount // 100 }} ₽</div>
                                </div>
                            {% endif %}

                            <div class="receipt-delivery receipt-footer__item">
                                <div>Стоимость доставки:</div>
                                <div>{{ order.delivery_price // 100 }} ₽</div>
                            </div>

                            <div class="receipt-total receipt-footer__item">
                                <div>Итого к оплате:</div>
                                <div>{{ order.total_amount // 100 }} ₽</div>
                            </div>
                        </div>

                    </div>

                    <!-- Contacts and Delivery -->
                    <div class="detail-card">
                        <h2 class="detail-card__title">Доставка и контакты клиента</h2>
                        <div class="customer-and-delivery">
                            
                            <!-- Customer -->
                            <div class="customer-block">
                                <h3>Покупатель</h3>
                                <p>
                                    <strong>ФИО:</strong> {{ order.customer_name }}
                                </p>
                                <p>
                                    <strong>Телефон:</strong> 
                                    <a href="tel:{{ order.customer_phone }}" style="color: #1677ff; text-decoration: none;">{{ order.customer_phone }}</a>
                                </p>
                                <p>
                                    <strong>Email:</strong> {{ order.customer_email }}
                                </p>
                                {% if order.comment %}
                                    <p class="comment-block">
                                        <strong>Комментарий:</strong> <span style="color: #4a5568; font-style: italic;">"{{ order.comment }}"</span>
                                    </p>
                                {% endif %}
                            </div>
                            
                            <!-- Delivery and Point -->
                            <div>
                                <h3>Пункт выдачи (<span class="delivery-service-{{order.delivery_service.value}}">{{order.delivery_service.value}}</span>)</h3>
                                <p><strong>Город/Населенный пункт:</strong> {{ order.delivery_settlement }}</p>
                                <p><strong>Идентификатор точки:</strong> <code>{{ order.delivery_point_id }}</code></p>
                                <p><strong>Адрес выдачи:</strong> {{ order.delivery_point_address }}</p>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- Finance and Management -->
                <div class="order-detail-grid__sidebar">
                    
                    <!-- Payment System -->
                    <div class="detail-card payment">
                        <h2 class="detail-card__title">Статус оплаты</h2>
                        {% if order.payment %}
                            <div class="payment-item">
                                <strong>Сумма транзакции:</strong> {{ order.payment.amount // 100 }} ₽
                            </div>
                            <div class="payment-item">
                                <strong>Платежный шлюз:</strong> {{ order.payment.gateway.value }}
                            </div>
                            <div class="payment-item">
                                <strong>ID платежа:</strong> 
                                <code class="transaction-id">{{ order.payment.id }}</code>
                            </div>
                            <div class="payment-item">
                                <strong>ID транзакции банка:</strong> 
                                <code class="transaction-id">{{ order.payment.external_id or 'Ожидает генерации сессии' }}</code>
                            </div>
                            <div class="payment-item">
                                <strong>Обновлен статус:</strong> {{order.payment.updated_at.strftime('%d.%m.%Y %H:%M')}}
                            </div>
                            <div class="payment-status">
                                <strong>Текущий статус:</strong> 

                                <div class="badge-status status-{{order.payment.status.value}}">
                                    {{order.payment.status.value}}
                                </div>
                            </div>
                        {% else %}
                            <div style="color: #a0aec0; font-size: 13px; font-style: italic;">Платежная сессия для Озона не была сформирована на чекауте.</div>
                        {% endif %}
                    </div>

                    <!-- Manager Actions -->
                    <div class="detail-card">
                        <h2 class="detail-card__title" style="font-size: 16px; margin-bottom: 16px; padding-bottom: 8px;">Действия менеджера</h2>
   
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}