.order__header {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-meta.detail-card {
    color: #4a5568;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.order-date span {
    font-size: 14px;
}
/* Status */
.badge-status {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.order-status-pending { 
    background: #fff7e6;
    color: #d46b08;
    border: 1px solid #ffd591; 
}
.order-status-paid { 
    background: #e6f7ff;
    color: #0050b3;
    border: 1px solid #91d5ff;
 }
.order-status-sent    { 
    background: #f9f0ff;
    color: #531dab;
    border: 1px solid #d3adf7;
}
.order-status-delivered {
    background: #f6ffed;
    color: #389e0d;
    border: 1px solid #b7eb8f;
}
.order-status-returned {
    background: #fff0f6;
    color: #c41d7f;
    border: 1px solid #ffadd2;
}

/* Payment Status */
.payment-status-completed {
    background: #f6ffed;
    color: #389e0d;
    border: 1px solid #b7eb8f;
}
.payment-status-rejected {
    background: #fff1f0;
    color: #cf1322;
    border: 1px solid #ffa39e;
}
.payment-status-returned {
    background: #fff0f6;
    color: #c41d7f;
    border: 1px solid #ffadd2;
}

.order-detail-grid {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Левая колонка в 2 раза шире правой */
    gap: 24px;
    align-items: start;
}

/* Detail Card */
.detail-card {
    background: #ffffff;
    border: 1px solid #edf2f7;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);
    margin-bottom: 24px;
}
.detail-card__title {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #edf2f7;
    color: #1a202c;
}

/* Reciept */
.receipt-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
    border-bottom: 1px solid #f7fafc;
}
.receipt-item:last-child {
    border-bottom: none;
}
.product-name {
    font-weight: 600; 
    font-size: 15px;
}
.product__qty {
    color: #4a5568;
}
.product-item__old-price {
    text-decoration: line-through; 
    color: #9c9b9b; 
    font-size: 14px; 
    margin-right: 4px;
}
.product-item__new-price {
    color: #cf1322; 
    font-weight: 600;
}
.product__price {
    font-size: 16px; 
    font-weight: 700; 
    color: #262626; 
    margin-top: 7px;
}
.receipt-footer {
    margin-top: 24px; 
    padding-top: 20px; 
    border-top: 2px dashed #e2e8f0; 
    font-size: 15px; 
    color: #4a5568;
}
.receipt-footer__item {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 10px;
}
.receipt-discount {
    color: #e53e3e;
}
.receipt-total {
    display: flex; 
    justify-content: space-between; 
    margin-top: 16px; 
    font-size: 20px; 
    font-weight: 700; 
    color: #1a202c;
}

/* Customer and Delivery */
.customer-and-delivery {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 32px; 
    font-size: 14px; 
    line-height: 1.6;
}
h3 {
    font-size: 13px; 
    text-transform: uppercase; 
    color: #a0aec0; 
    margin-bottom: 12px; 
    letter-spacing: 0.5px;
}
.delivery-service-yandex {
    color: rgb(237, 169, 12);
}
.delivery-service-russian_post {
    color: rgb(6, 54, 176);
}
.comment-block {
    margin-top: 12px; 
    padding: 10px; 
    background: #f7fafc; 
    border-left: 3px solid #cbd5e0; 
    border-radius: 0 4px 4px 0;
}

/* Payment */
.payment-item {
    font-size: 14px; 
    margin-bottom: 15px; 
    color: #4a5568;
}
.transaction-id {
    font-size: 11px; 
    background: #fff; 
    padding: 2px 4px; 
    border: 1px solid #e2e8f0; 
    border-radius: 4px;
}
.payment-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px; 
    padding-top: 12px; 
    border-top: 1px solid #e2e8f0; 
    font-size: 14px;
}

/* Manager */
.actions {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.action-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    cursor: pointer;
    
    /* Изначально нейтральный, строгий вид */
    background: #f6f8fa;
    color: #515154;
    border: 1px solid #e5e5ea;
    
    transition: all 0.2s ease-in-out;
}

.action-ship:hover, .action-deliver:hover {
    background: #f6ffed;
    color: #389e0d;
    border-color: #d9f7be;
}

/* Кнопка "Ошибся / Вернуть назад" (Цвет статуса PENDING — оранжевый) */
.action-rollback:hover {
    background: #fff7e6; 
    color: #d46b08;
    border-color: #ffd591;
}

/* Кнопка "Отметить ручной возврат" (Цвет статуса CANCELLED — красный) */
.action-refund-mark:hover {
    background: #fff1f0;
    color: #cf1322;
    border-color: #ffccc7;
}

/* Кнопка "Отменить возврат" (Цвет статуса PAID — нежно-голубой) */
.action-refund-cancel:hover {
    background: #e6f7ff;
    color: #0050b3;
    border-color: #bae7ff;
}