venv/
.env
__pycache__/
*.log
*.lock
instance/
app/static/img/uploads/*
!app/static/img/uploads/.gitkeep
app/static/videos/uploads/*
!app/static/videos/uploads/.gitkeep
app/static/img/colors/*
!app/static/img/colors/.gitkeep
create_admin.py
sitemap.xml