footer {
    background-color: rgb(53, 105, 21);
    color: white;
    padding: 40px 0;
}
.dark-theme footer {
    background-color: rgb(8, 81, 8)
}
.footer__inner {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    gap: 40px;
}
.footer__item {
    width: max-content;
}
.footer__item-title {
    font-weight: 600;
    font-size: 22px;
    color: white;
}
.footer__item-inner {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px
}
.footer__link {
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer__link .link-text {
    color: white;
}
.footer__link svg {
    width: 35px;
    height: 35px;
}
/* Contacts */
.tels-box {
    margin-top: 15px;
    display: flex;
    flex-wrap:wrap;
    row-gap: 30px;
    column-gap: 100px;
}
.tel .link-text {
    font-size: 18px;
}
.tel .link-text:hover {
    text-decoration: underline;
}
.tel-mess {
    margin-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.tel-mess a img {
    height: 42px;
    width: 42px;
}
.tel-mess .max-link img {
    height: 35px;
    width: 35px;
    margin-left: 5px;
}

.freepik {
    font-size: 13px;
    color: rgb(226, 226, 226);
    margin-top: 30px;
}


@media (min-width: 768px) {
    .footer__inner {
        gap: 120px;
    }
}