.product__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}
.column-1, .column-2 {
    width: 100%;
}
.product__media {
    width: 100%;
    height: 400px;
    position: relative;
    margin-bottom: 50px;
}
.product__info {
    margin-top: 10px;
}
.product__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
}
.product__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    font-weight: 600;
}
.product__links a {
    color: var(--text-color);
}
.product__links a:hover {
    text-decoration: underline;
}
.product-detail__title {
    display: inline-block;
    font-weight: 600;
    border: 1px solid var(--bg-sub-color);
    padding: 10px 17px;
    border-radius: 30px;
    color:#228f09;
    background-color: var(--bg-sub-color);
    font-size: 14px;
}

.product__characteristics, .product__targets, .product__description, .product__application {
    margin-top: 40px;
}

/* -- Characteristics --*/
.characteristics-list {
    margin-top: 10px;
}
.characteristic {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid var(--text-sub-color);
    padding: 15px 5px;
}
.characteristic-name, .characteristic-value, .target {
    font-size: 14px;
    font-weight: 600;
    max-width: 250px;
}
.characteristic-value {
    text-align: right;
}

/* -- Targets -- */
.targets-list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 30px;
    gap: 7px;
}
.target-item {
    display: flex;
    gap: 15px;
    height: max-content;
}
.target-icon circle {
    fill: var(--text-sub-color);
}

/* Description Application */
.description, .application {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

/* --- Variants --- */
.product__variants, .product__colors {
    margin-top: 25px;
}
.variants__title, .colors__title {
    font-weight: 600;
    font-size: 17px;
}
a.variant, a.color {
    border: 2px solid var(--bg-sub-color);
    color: var(--text-sub-color);
    font-weight: 600;
    border-radius: 30px;
    padding: 7px 15px;
}
a.variant:hover {
    border: 2px solid var(--text-color);
}
a.variant-active {
    border: 2px solid var(--text-sub-color);
}
.variants {
    margin-top: 15px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* --- Colors -- */
.color-dropdown {
    position: relative;
    margin-top: 15px;
}
a.color {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    background-color: var(--bg-color);
    padding: 10px 15px;
}
a.color-active {
    width: 230px;
    position: relative;
}
.color-list {
    display: none;
    position: absolute;
    top: 47px;
    background-color: var(--bg-color);
    padding: 20px 15px;
    border-radius: 20px;
    border: 2px solid var(--bg-sub-color);
}
.color-list .color {
    border: 2px solid transparent;
}
.color-list .color:hover {
    border: 2px solid var(--bg-sub-color);
}
.color-list.show {
    display: flex;
    flex-direction: column;
}
.color-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
a.color-active .color-icon {
    border: 1px solid var(--text-sub-color);
}
.color-chevron {
    position: absolute;
    top: 10px;
    right: 15px;
}

.desktop-block {
    display: none;
}

/* Tabs */
.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.tabs input[type="radio"] {
    display: none;
}
.tabs input[type="radio"] + label {
    font-weight: 600;
    font-size: 14px;
    padding: 10px 17px;
    border: 1px solid #e0e0e000;
    color:#60636e;
    border-radius: 30px;
}
.tabs input[type="radio"] + label:hover {
    color: var(--accent-color);
    border: 1px solid var(--bg-sub-color)
}
.tabs input[type="radio"]:checked + label {
    color:#228f09;
    background-color: var(--bg-sub-color);
}
.tab-content {
    margin-top: 20px;
    font-size: 16px;
    line-height: 29px;
    font-weight: 500;
}
.tab-content > div {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: max-height 1s ease, opacity 1s ease;
}
#tab1:checked ~ .tab-content #content1,
#tab2:checked ~ .tab-content #content2,
#tab3:checked ~ .tab-content #content3 {
  max-height: max-content;
  opacity: 1;
  visibility: visible;
  transition: max-height 1s ease, opacity 1s ease;
}

.tab-content {
    width: 100%;
}

@media (min-width: 800px) {
    .mobile-block {
        display: none;
    }
    .desktop-block {
        display: block;
    }
    .product__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .column-1, .column-2 {
        width: 50%;
    }
    .column-1 {
        padding-right: 20px;
    }
    .column-2 {
        padding-left: 20px;
        padding-top: 10px;
    }
    .product__media {
        height: 350px;
    }
    .product__name {
        font-size: 22px;
        line-height: 30px;
    }
}

@media (min-width: 1000px) {
    .product__media {
        height: 500px;
    }
    .column-1 {
        padding-right: 30px;
    }
    .column-2 {
        padding-left: 50px;
        padding-top: 30px;
    }
}