.products {
    padding-top: 100px;
    padding-bottom: 50px;
    min-height: calc(100vh - 268px);
}
.products__path {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.products__inner {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 48%); /* 2 колонки фиксированной ширины */
    justify-content: space-between; /* максимальный промежуток между колонками */
    gap: 30px 0;
    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    position: relative;
}
.card__media-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    background-color: var(--bg-sub-color);
    border-radius: 5px;
    border: 0.5px solid transparent;
    transition: 0.1s;
}
.card__media {
    width: 70%;        /* ширина адаптируется под контейнер */
    height: auto;       /* высота считается автоматически с сохранением пропорций */
    max-height: 90%;  /* ограничение по максимальной высоте */
    object-fit: contain;
}
.card__media-no-photo {
    width: 70px;
}
.card__name {
    margin-top: 15px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 600;
    height: 60px;
    overflow: hidden;
}
a.card__button {
    width: max-content;
    color: var(--text-color);
    display: inline-block;
    border: 0.5px solid var(--text-sub-color);
    border-radius: 5px;
    text-align: center;
    padding: 9px 10px;
    font-size: 11px;
    font-weight: 600;
}
a.card__button:hover {
    background-color: var(--accent-color);
    filter: brightness(1.2);
    transition: 0.2s;
    color: white;
}
.dark-theme a.card__button:hover {
    background-color: var(--accent-color);
    filter: brightness(0.8);
    transition: 0.2s;
    color: white;
}
.card__addition {
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.card__isnew {
    color: var(--accent-color);
    font-weight: 600;
    font-size: 11px;
}
.card-arrow svg path {
    fill: var(--text-color);
    background-color: transparent;
}
/* -- Hover -- */
.card__media-wrapper:hover .card__media {
    transform: scale(1.05);
    transition: 0.3s;
}
.card__media-wrapper:hover {
    filter: brightness(0.95);
    transition: 0.3s;
}
.dark-theme .card__media-wrapper:hover {
    filter: brightness(1.1);
    transition: 0.3s;
}

/* -- Navigation */
.path {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
a.path__item-catalog, .path__item-name {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}
.path__div path{
    stroke: var(--text-sub-color)
}
a.path__item-catalog:hover {
    border-bottom: 2px solid var(--text-sub-color);
}

@media (min-width: 400px) {
    .card__media-wrapper {
        height: 260px;
    }
}
@media (min-width: 600px) {
    .products__inner {
        grid-template-columns: repeat(3, 32%);
    }
    .card__media-wrapper {
        height: 230px;
    }
}
@media (min-width: 593px) {
    .products {
        min-height: calc(100vh - 268px);
    }
}
@media (min-width: 790px) {
    .products__inner {
        grid-template-columns: repeat(4, 22%);
    }
}
@media (min-width: 1024px) {
    .products__inner {
        gap: 40px 0;
    }
    .card__media-wrapper {
        height: 310px;
    }
    .card__name {
        font-size: 17px;
        height: 80px;
        line-height: 30px;
    }
    .card__addition {
        gap: 20px;
    }
    a.card__button {
        padding: 9px 20px;
        font-size: 14px;
    }
    .card__isnew {
        font-size: 14px;
    }
}