{% extends "base.html" %}

{% block title %}Корзина{% endblock %}
{% block description %}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkout/cart.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/checkout/cart.js') }}" defer type="module"></script>
{% endblock %}

{% block content %}
    <section class="cart">
        <div class="container">
            <h1 class="cart__title">
                Корзина
            </h1>
            <div class="cart-items">

            </div>
        </div>
    </section>
{% endblock %}