{% extends "base.html" %}

{% block title %}Корзина{% endblock %}
{% block description %}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkout/cart.css') }}">
{% endblock %}

{% block js %}
    
{% endblock %}

{% block content %}
    <section class="cart">
        <div class="container">
            <h1 class="cart__title">
                Корзина
            </h1>
            <div class="cart__table">
                <div class="cart__table-header">
                    <div class="cart__col">Товар</div>
                    <div class="cart__col">Количество</div>
                    <div class="cart__col">Цена</div>
                    <div class="cart__col">Удалить</div>
                </div>
                <div class="cart__items">

                </div>  
            </div>

            <template class="cart__item-template">
                <div class="cart__item" data-id="">
                    <div class="cart__item-info">
                        <div class="cart__item-img-wrapper">
                            <img src="" alt="" class="cart__item-img">
                        </div>
                        <div class="cart__item-text">
                            <a href="" class="cart__item-name">
                                
                            </a>
                            <div class="cart__item-variant"></div>
                        </div>
                    </div>

                    <div class="cart__item-controls">
                        <button class="cart-item__btn-minus">-</button>
                        <span class="cart-item__count"></span>
                        <button class="cart-item__btn-plus">+</button>
                    </div>

                    <div class="cart__item-total"></div>

                    <button class="cart__item-remove">
                        <svg fill="var(--text-color)" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M5.755,20.283,4,8H20L18.245,20.283A2,2,0,0,1,16.265,22H7.735A2,2,0,0,1,5.755,20.283ZM21,4H16V3a1,1,0,0,0-1-1H9A1,1,0,0,0,8,3V4H3A1,1,0,0,0,3,6H21a1,1,0,0,0,0-2Z"></path></g></svg>
                    </button>
                </div>
            </template>

        </div>
    </section>
    <script src="{{ url_for('static', filename='js/checkout/cart.js') }}"></script>
{% endblock %}