{% extends "base.html" %}

{% block title %}Оформление заказа{% endblock %}
{% block description %}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkout/checkout.css') }}">
{% endblock %}

{% block js %}
    
{% endblock %}

{% block content %}
    <section class="checkout" aria-label="Оформление заказа" data-step="city-choice">
        <div class="container">
            <div class="checkout__title">Оформление заказа</div>

            <div class="checkout__summary">
                <div class="checkout__label">Ваш заказ</div>
                <div class="summary__items"></div>

                <template class="summary__item-template">
                    <div class="summary__item">
                        <div class="summary__item-name"></div>
                        <div class="summary__item-price"></div>
                    </div>
                </template>

            </div>
            
            <div class="checkout__step">
                <div class="checkout__label">Куда привезти?</div>
                <input type="text" class="checkout__input city-input" placeholder="Город / Населенный пункт">
                <div class="checkout__suggestions city-suggestions"></div>
            </div>

            <div class="checkout__step">
                <div class="checkout__label">Выбор службы доставки</div>
                <div class="checkout__comment delivery-options-comment">
                    Варианты доставок появятся после выбора города
                </div>
                <div class="checkout__delivery-options"></div>
            </div>

            <div class="checkout__step">
                <div class="checkout__label">Пункт выдачи</div>
                <div class="checkout__comment pvz-comment">
                    Выбрать ПВЗ можно будет после выбора доставки
                </div>
                <input disabled type="text" class="checkout__input pvz-input" placeholder="Поиск по адресу или улице...">
                <div class="checkout__suggestions pvz-suggestions"></div>
            </div>

            <div class="checkout__step">
                <div class="checkout__label">Контакты</div>
                
                <input type="text" class="checkout__input name-input" placeholder="Иванов Иван Иванович">
                <input type="tel" class="checkout__input phone-input" placeholder="+7 (999)-999-99-99">
                <input type="email" class="checkout__input email-input" placeholder="example@gmail.com">
                
            </div>

            <button class="checkout__submit-btn" disabled>
                Оформить заказ
            </button>

        </div>
    </section>

    <script src="https://unpkg.com/imask"></script>
    <script src="{{ url_for('static', filename='js/checkout/checkout.js') }}"></script>

{% endblock %}