.checkout {
    padding-top: 100px;
    min-height: calc(100vh - 160px);
    padding-bottom: 200px;
}
.checkout__title {
    font-size: 28px;
    font-weight: 600;
}
.checkout__inner {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}
.checkout__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.checkout__summary {
    width: 100%;
    height: auto;
}

/* Card */
.card-title {
    font-weight: 600;
    font-size: 22px;
}
.card-content {
    margin-top: 10px;
    padding: 30px 20px;
    background-color: var(--checkout-card-bg);
    border: 1px solid var(--bg-sub-color);
    box-shadow: var(--shadow);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.checkout__step {
    position: relative;
}
.checkout__label {
    font-size: 16px;
    font-weight: 600;
}
.checkout__input-label {
    display: block;
}
.checkout__input {
    padding: 14px 16px;
    width: 100%;
    border-radius: 10px;
    margin-top: 8px;
    background-color: var(--input-bg);
    border: 1.5px solid var(--bg-sub-color);
    color: var(--text-sub-color);
    font-size: 16px;
    outline: none;
}
.checkout__input:focus {
    border-color: var(--text-color)
}
.checkout__input::placeholder {
    opacity: 0.7;
    font-size: 14px;
}
.checkout__comment {
    margin-top: 20px;
    color: var(--accent-color);
}
.checkout__suggestions {
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    border-radius: 10px;
    padding: 12px 16px;
    border: 1px solid var(--bg-sub-color);
    background: var(--bg-color);
    z-index: 100;
}
.checkout__suggestion-item {
    padding: 7px 0;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 8px;
    z-index: 101;
}
.checkout__suggestion-item:hover {
    background-color: var(--bg-sub-color);
}

/* City */
.city-suggestions {
    position: absolute;
    top: calc(100% + 5px);
}
.city-suggestions:empty {
    display: none !important;
}

/* Delivery Options */
.checkout__delivery-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.delivery-card {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border: 1.5px solid var(--bg-sub-color);
    border-radius: 10px;
}
.delivery-card.chosen {
    background-color: var(--input-bg);
    border: 1.5px solid var(--accent-color)
}
.delivery-card__title {
    margin-top: 30px;
    font-weight: 600;
}
.delivery-card__additional {
    margin-top: 20px;
    display: flex;
    gap: 50px;
}
.delivery-card__price {
    font-weight: 600;
    font-size: 20px;
    color: var(--accent-color)
}
.delivery-card__brand-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%; /* Круглая иконка */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Белая буква на цветном фоне */
    font-weight: bold;
    font-size: 14px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

/* Pvz Input */
.pvz-input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.pvz-suggestions {
    max-height: 150px;
    margin-top: 10px;
}
.pvz-suggestions:empty {
    border: none;
}

/* Summary */
.summary__items {
    display: flex;
    flex-direction: column;
}
.summary__item {
    display: flex;
    align-items: center;
    max-width: 100%;;
    gap: 20px;
    border-bottom: 1px solid var(--bg-sub-color);
    padding: 20px 0;
}
.summary__item-image-wrapper {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}
.summary__item-img {
    max-width: 100%;
    max-height: 100%;
}
.summary__item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 10px;
    font-size: 14px;
}
.summary__item-name {
    font-size: 14px;
}
.summary__item-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: end;
    width: 100%;
}
.summary__item-qty {
    font-size: 12px;
    color: var(--text-sub-color);
}
.summary__total {
    margin-top: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    font-weight: 600;
}
.summary__total-comment {
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
    color: var(--accent-color)
}

/* Submin Btn */
.checkout__submit-btn{
    display: block;
    padding: 16px 30px;
    width: 100%;
    margin-top: 40px;
    border: 1px solid var(--bg-sub-color);
    border-radius: 30px;
    color: white;
    background-color: var(--accent-color);
    font-weight: 600;
}
a.checkout__link-to-cart {
    display: block;
    text-align: center;
    padding: 16px 30px;
    width: 100%;
    margin-top: 10px;
    color: var(--text-sub-color);
    font-weight: 600;
}
a.checkout__link-to-cart:hover {
    color: var(--text-color);
}
.checkout__submit-btn:disabled {
    background: var(--checkout-card-bg);
    color: var(--accent-color);
    cursor: not-allowed;
}

/* State*/
.pvz-input, .pvz-suggestions {
    display: none;
}
.checkout[data-step="pvz-choice"] .pvz-input,
.checkout[data-step="contacts"] .pvz-input,
.checkout[data-step="pvz-choice"] .pvz-suggestions {
    display: block;
}

.checkout__validation-msg {
    text-align: center;
    color: var(--text-sub-color);
    margin-top: 40px;
    font-size: 16px;
}

@media (min-width: 500px) {
    /* Card */
    .card-content {
        padding: 30px;
    }
    .summary__item-name {
        font-size: 16px;
    }
}
@media (min-width: 1150px) {
    .checkout__form {
        width: 55%;
    }
    .checkout__summary {
        width: 42%;
    }

    /* Delivery Option */
    .delivery-card {
        width: 49%;
    }

    /* Summary */
    .summary__item {
        gap: 25px;
        align-items: center;
    }
    .summary__item-info {
        flex-wrap: nowrap;
        font-size: 16px;
    }
    .summary__item-image-wrapper {
        width: 60px;
        height: 60px;
    }
    .summary__item-info {
        gap: 20px;
    }
    .summary__item-name {
        font-size: 16px;
    }
    .summary__item-details {
        flex-direction: column;
        width: 150px;
    }
}