{% extends "base.html" %}

{% block title %}Как оформить заказ OAKAFFECTION {% endblock %}
{% block description %}Как оформить заказ на сайте OAKAFFECTION{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/terms.css') }}">
{% endblock %}

{% block content %}
    <article class="terms">
        <div class="container">
            <h1 class="terms__title">
                Как оформить заказ
            </h1>
            <div class="terms__text">
                <div class="terms__section">
                    <p>
                        Мы работаем над полной автоматизацией сайта, а пока запустили <b>корзину</b> с умным <b>расчетом доставки</b>, чтобы делать покупки стало еще проще и быстрее.
                    </p>
                    <p>На нашем сайте доступны два способа оформления заказа:</p>
                </div>
                <div class="terms__section">
                    <h2 class="terms__title-h2">
                        Способ 1. Быстрый заказ через мессенджер
                    </h2>
                    <ul>
                        <li><b>1. Соберите корзину</b> и перейдите к оформлению.</li>
                        <li><b>2. Заполните данные</b> — укажите город, выберите ПВЗ и введите контакты. Система сама рассчитает точную стоимость.</li>
                        <li><b>3. Нажмите кнопку</b> «Скопировать состав заказа».</li>
                        <li>
                            <b>4. Отправьте текст нам</b> в
                            <a href="https://t.me/+79604870478" target="_blank" rel="noopener noreferrer nofollow" style="color: var(--accent-color)">
                                Telegram
                            </a>
                            или на почту
                            <a href="mailto:shop@oakaffection.ru" target="_blank" rel="noopener noreferrer nofollow" style="color: var(--accent-color)">
                                shop@oakaffection.ru
                            </a>.
                        </li>
                    </ul>
                    <p>
                        Мы сразу же свяжемся с вами для подтверждения заказа и согласования удобного безналичного способа оплаты
                    </p>
                </div>

                <div class="terms__section">
                    <h2 class="terms__title-h2">
                        Способ 2. Прямая онлайн-оплата на сайте картой или СБП
                    </h2>
                    <p>
                        Внимание: в данный момент этот способ находится в режиме технического подключения.
                    </p>
                    <ul>
                        <li><b>1. Нажмите кнопку «Оплатить»</b> после заполнения контактных данных и выбора способа доставки.</li>
                        <li><b>2. Система автоматически перенаправит</b> вас на защищенную платежную страницу интернет-эквайринга Ozon Pay.</li>
                        <li><b>3. Введите реквизиты</b> банковской карты (номер, срок действия, код CVC/CVV) или выберите оплату через Систему быстрых платежей (СБП).</li>
                        <li>
                            <b>4. Подтвердите платеж</b> кодом из СМС от вашего банка. После успешного списания средств на указанный вами Email автоматически поступит электронный кассовый чек полного расчета.
                        </li>
                    </ul>
                </div>
                
                
                <div class="terms__section">
                    <h2 class="terms__title-h2">🎁 Автоматические скидки</h2>
                    <p>Система пересчитает сумму при достижении порога:</p>
                    <ul>
                        <li>• <span style="color: var(--accent-color); font-weight: 600">Скидка 20%</span>  при заказе от 10 000 руб.</li>
                        <li>• <span style="color: var(--accent-color); font-weight: 600">Скидка 25%</span> при заказе от 30 000 руб.</li>
                    </ul>
                </div>

                <div class="terms__section">
                    <h2 class="terms__title-h2">🚚 Доставка по всей России</h2>
                    <p>
                        Стоимость рассчитывается автоматически с учетом веса и упаковки. Сейчас доступны:
                    </p>
                    <ul>
                        <li>• <span style="font-weight: 600">Яндекс Доставка</span></li>
                        <li>• <span style="font-weight: 600">Почта России</span></li>
                    </ul>
                </div>

                <div class="terms__section">
                    <h2 class="terms__title-h2">🔒 Безопасность онлайн-платежей</h2>
                    <p>Все платежные операции на сайте защищены протоколом HTTPS с SSL-сертификатом. Мы работаем в сотрудничестве с Банком для защиты клиентов от мошеннических операций: данные вашей карты передаются в зашифрованном виде и не сохраняются на нашем сайте.</p>
                </div>
            </div>
        </div>
    </article>
{% endblock %}