{% extends "base.html" %}

{% block title %}Как оформить заказ OAKAFFECTION {% endblock %}
{% block description %}Как оформить заказ на сайте OAKAFFECTION{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/terms.css') }}">
{% endblock %}

{% block content %}
    <article class="terms">
        <div class="container">
            <h1 class="terms__title">
                Как оформить заказ
            </h1>
            <div class="terms__text">
                <div class="terms__section">
                    <p>
                        Мы работаем над полной автоматизацией сайта, а пока запустили <b>удобную корзину</b> с <b>расчетом доставки</b>, чтобы вам было проще делать покупки.
                    </p>
                </div>
                <div class="terms__section">
                    <h2 class="terms__title-h2">
                        Несколько простых шагов:
                    </h2>
                    <ul>
                        <li><b>1. Соберите корзину</b> — добавьте понравившиеся товары и перейдите к оформлению</li>
                        <li><b>2. Заполните форму</b> — система сама рассчитает стоимость доставки</li>
                        <li><b>3. Скопируйте данные</b> — нажмите кнопку «Скопировать состав заказа»</li>
                        <li>
                            <b>3. Отправьте нам</b> — вставьте текст в сообщение
                            <a href="https://t.me/+79604870478" target="_blank" rel="noopener noreferrer nofollow" style="color: var(--accent-color)">
                                Telegram
                            </a>
                            или 
                            <a href="mailto:oakaffection@gmail.com" target="_blank" rel="noopener noreferrer nofollow" style="color: var(--accent-color)">
                                oakaffection@gmail.com
                            </a>
                        </li>
                    </ul>
                    <p>
                        Мы сразу же свяжемся с Вами и обсудим детали оплаты и доставки.
                    </p>
                </div>
                
                
                <div class="terms__section">
                    <h2 class="terms__title-h2">🎁 Оптовые скидки</h2>
                    <ul>
                        <li>• <span style="color: var(--accent-color); font-weight: 600">Скидка 20%</span>  при заказе от 10 000 руб</li>
                        <li>• <span style="color: var(--accent-color); font-weight: 600">Скидка 25%</span> при заказе от 30 000 руб</li>
                    </ul>
                </div>

                <div class="terms__section">
                    <h2 class="terms__title-h2">🚚 Доставка</h2>
                    <p>
                        Доставка осуществляется за счет покупателя и автоматически прибавляется к общей стоимости. Доступные способы: Почта России и Яндекс Доставка.
                    </p>
                    <p>
                        Мы постоянно добавляем новые функции и работаем над прямой оплатой — спасибо, что вы с нами!
                    </p>
                </div>
            </div>
        </div>
    </article>
{% endblock %}