{% extends "base.html" %}

{% block title %}Публичная оферта{% endblock %}
{% block description %}Публичная оферта{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/terms.css') }}">
{% endblock %}

{% block content %}
    <article class="terms">
        <div class="container">
            <h1 class="terms__title">
                Публичная оферта
            </h1>
            <div class="terms__text">
                <div class="terms__section">
                    <h2 class="terms__title-h2">
                        1. Общие положения
                    </h2>
                    <p>
                        1.1. Настоящий документ является публичной офертой Индивидуального предпринимателя [ФИО полностью] (далее — Продавец) в соответствии со ст. 437 ГК РФ.<br>
                        1.2. Договор считается заключенным (акцептованным Покупателем) в момент совершения одного из действий:<br>
                        а) При оформлении без онлайн-оплаты: в момент подтверждения менеджером Продавца заказа, спецификация которого направлена Покупателем в мессенджер или на Email.<br>
                        б) При оформлении с онлайн-оплатой: в момент совершения Покупателем оплаты заказа на Сайте.<br>
                    </p>
                </div>

                <div class="terms__section">
                    <h2 class="terms__title-h2">
                        2. Цена, доставка и фискализация
                    </h2>
                    <p>
                        2.1. Все цены на Товары на Сайте указаны в национальной валюте Российской Федерации — рублях (₽). Покупатель оплачивает заказ в рублях РФ.<br>
                        2.2. Доставка осуществляется сторонними службами («Почта России», «Яндекс Доставка»). Сроки и стоимость рассчитываются на Сайте автоматически по габаритам и являются ориентировочными.<br>
                        2.3. Итоговая стоимость Заказа состоит из цены товаров (с учетом автоматических пороговых скидок, если они применились) и стоимости доставки. Все цены на Сайте (включая стоимость доставки) указаны в российских рублях и включают в себя НДС по ставке 5% в соответствии с главой 26.2 Налогового кодекса РФ (УСН).<br>
                        2.4. Порядок фискализации (в соответствии с 54-ФЗ): Стороны согласовали, что при совершении 100% предоплаты (любым доступным безналичным способом на Сайте или по согласованию с менеджером), Продавец формирует и направляет Покупателю один единый электронный кассовый чек с признаком способа расчета «Полный расчет» в момент фиксации оплаты. Настоящим Покупатель выражает свое предварительное согласие на получение одного единого чека полного расчета в момент оплаты. Право собственности на товар переходит к Покупателю в момент фиксации оплаты Продавцом, повторный чек при физической передаче товара службой доставки не формируется.<br>
                    </p>    
                </div>

                <div class="terms__section">
                    <h2 class="terms__title-h2">
                        3. Условия возврата товаров
                    </h2>
                    <p>
                        3.1. Товар надлежащего качества (не подошел): Покупатель вправе отказаться от него в любое время до передачи, а после передачи — в течение 7 дней (ст. 26.1 Закона «О защите прав потребителей»). Возврат Товара надлежащего качества возможен исключительно при сохранении его товарного вида, потребительских свойств, фабричных ярлыков, пломб, а также документа, подтверждающего факт и условия покупки. При отказе Покупателя от Товара надлежащего качества Продавец возвращает ему стоимость уплаченного Товара, за исключением расходов Продавца на доставку от Покупателя возвращенного Товара (если такая доставка оплачивалась Продавцом)<br>
                        3.2. Товар ненадлежащего качества (брак): Покупатель вправе вернуть товар при обнаружении производственного брака в течение установленного гарантийного срока (ст. 18 Закона «О защите прав потребителей»). Если гарантийный срок составляет менее двух лет и недостатки обнаружены по его истечении, Покупатель вправе предъявить требования, если докажет, что недостатки возникли до передачи товара ему (ст. 19 Закона «О защите прав потребителей»). При подтверждении производственного брака Продавец обязуется вернуть полную стоимость товара, а также компенсировать Покупателю документально подтвержденные расходы на первоначальную и обратную доставку бракованного товара.<br>
                    </p>    
                </div>

                <div class="terms__section">
                    <h2 class="terms__title-h2">
                        4. Реквизиты Продавца
                    </h2>
                    <p>
                        Индивидуальный предприниматель: Жданов Алексей Вячеславович<br>
                        ИНН: 231100545903<br>
                        ОГРНИП: 323057100058519<br>
                        Расчетный счет: 40802810820000036849<br>
                        Банк: ООО «Банк Точка»<br>
                        БИК: 044525104<br>
                        Корреспондентский счет: 30101810745374525104<br>
                        Email для связи: K9184450791@gmail.com<br>
                        Телефон: +79034112255<br>
                    </p>    
                </div>
            </div>
        </div>
    </article>
{% endblock %}